:root {
  // Colors
  --negro-lineal: #1b1c37;
  --purple:#7579FF;
  --white: #ffffff;
  --black: #000000;

  --gradient: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);

  //   Variables
  --text-color: var(--black);
}
