// ===============================================
// Header
// ===============================================
header {
  @include size(100%, 72px);
  @include flex(center, center, row);
  background-color: var(--negro-lineal);
  .container {
    inline-size: 100%;
    .row {
      @include flex(space-between, center, row);
      flex-wrap: nowrap;
      .brand {
        width: auto !important;
        @include flex(center, center, row);
        gap: 1rem;
        .brand-img {
          @include size(1.75rem, 1.75rem);
          @include flex(center, center, row);
        }
        .brand-name {
          @include font(500, 1.125rem, var(--white));
          margin-bottom: 0;
        }
      }

      .menu {
        @include flex(space-between, center, row);
        gap: 1rem;
        .nav {
          @include flex(center, center, row);
          gap: 1rem;
          .nav-item {
            @include flex(center, center, row);
            gap: 1rem;
            a {
              @include font(500, 1.125rem, var(--white));
            }
            &.active {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                @include size(100%, 4px);
                background-color: var(--purple);
                bottom: -22px;
              }
            }
          }
        }

        @include media(md) {
          display: none;
        }
      }
    }
  }
}
