@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
    scroll-padding: 2rem;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
}

@layer components {
  .section {
    @apply my-6;
  }

  .container {
    @apply px-4 mx-auto;
  }

  .flex-centered {
    @apply flex flex-row items-center justify-center;
  }

  .oneline {
    @apply overflow-hidden text-ellipsis text-nowrap;
  }

  .section-title {
    @apply text-[64px] font-semibold relative;
    background: -webkit-linear-gradient(90deg, #b224ef 0%, #7579ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* ===============================================
Buttons
=============================================== */
@layer components {
  .btn {
    @apply flex flex-row items-center gap-1;
    @apply font-semibold text-sm uppercase py-[10px] px-[30px] w-fit;
    @apply border-[0] rounded-[8px] shadow-none outline-none;
    @apply ltr:tracking-wider rtl:tracking-normal;
    @apply active:shadow-none active:border-[0] active:outline-none;
    @apply focus:shadow-none focus:border-[0] focus:outline-none;
    @apply disabled:cursor-not-allowed disabled:opacity-60 disabled:bg-[var(--mainColor)];
    @apply md:px-3 md:py-1 sm:px-3 sm:py-1;
  }

  .btn.main-btn {
    @apply text-white bg-lightblue;
    @apply hover:bg-gradient;
  }

  .btn.gradient-btn {
    @apply text-white bg-gradient;
    @apply hover:bg-gradientreversed;
  }
}

/* ===============================================
Header
=============================================== */
@layer components {
  @media (max-width: 991px) {
    .menu {
      display: none !important;
      inline-size: 200px !important;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      @apply start-[0];
      @apply absolute bg-negrolineal top-[0] p-3 flex-col h-full gap-3;
    }

    .menu.active {
      display: flex !important;
    }

    .menu .nav {
      flex-direction: column;
    }
  }
  @media (min-width: 992px) {
    .menu .nav .item.active {
      @apply relative;
    }

    .menu .nav .item.active::after {
      content: "";
      @apply absolute w-full h-[4px] bg-lightblue start-[0] -bottom-[1.5rem];
    }
  }
}

/* ===============================================
Banner
=============================================== */
@layer components {
  .banner-btn::after {
    @apply absolute content-[""] w-[10rem] h-[10rem] top-[0] end-[0] translate-x-full translate-y-2;
    background: url("./assets/banner/arrow.svg") no-repeat;
    background-size: contain;
  }
  @media (max-width: 991px) {
    .banner .hero-text span::after {
      @apply w-[50px] h-[50px];
    }
    .banner .banner-btn::after {
      @apply w-[7rem] h-[7rem];
    }
  }

  @media (min-width: 992px) {
    .banner::after {
      @apply absolute content-[""] w-[270px] h-[140px] top-[0] end-[0] translate-x-[52%];
      background: url("./assets/banner/dots.svg") no-repeat;
      background-size: contain;
    }
    .banner::before {
      @apply absolute content-[""] w-[270px] h-[70px] bottom-[0] start-[0];
      background: url("./assets/banner/sm-dots.svg") no-repeat;
      background-size: contain;
    }

    .banner .hero-text::before {
      @apply absolute content-[""] w-[200px] h-[200px] top-[50%] translate-y-[-50%] translate-x-[-50%] start-[0] bg-shadow opacity-40;
      background: url("./assets/banner/gradient.svg") no-repeat;
      background-size: contain;
    }

    .banner .hero-text span::after {
      @apply absolute content-[""] w-[70px] h-[70px] top-[0];
      background: url("./assets/banner/name-clash.svg");
      background-size: contain;
    }
  }
}

/* ===============================================
Skills
=============================================== */

@layer components {
  .skills::after {
    @apply absolute content-[""] w-[140px] h-[70px] top-[50%] end-[0] translate-x-[50%] translate-y-[50%];
    background: url("./assets/skills/sm-dots.svg") no-repeat;
    background-size: contain;
  }

  .skills .section-title::after {
    @apply absolute content-[""] w-[150px] h-[70px] top-[0] -translate-x-[25%] -translate-y-[10%];
    background: url("./assets/skills/title-clash.svg") no-repeat;
    background-size: contain;
  }

  .skills .section-title::before {
    @apply absolute content-[""] w-[140px] h-[70px] top-[0] -translate-x-[70%] translate-y-[25%];
    background: url("./assets/skills/sm-dots.svg") no-repeat;
    background-size: contain;
  }

  @media (min-width: 992px) {
    :root {
      --progress-bar-width: 200px;
      --progress-bar-height: 200px;
    }
  }

  @media screen and (max-width: 991px) {
    :root {
      --progress-bar-width: 150px;
      --progress-bar-height: 150px;
    }
  }

  @media screen and (max-width: 480px) {
    :root {
      --progress-bar-width: 120px;
      --progress-bar-height: 120px;
    }
  }
}

/* ===============================================
About
=============================================== */
.about .box .card::after {
  @apply absolute content-[""] w-full h-[150px] -top-[10%] end-[0];
  background: url("./assets/about/card-head.svg") no-repeat;
  background-size: contain;
}

.about .boxes {
  @apply bg-white drop-shadow-about relative rounded-[1.5rem];
  @apply grid grid-cols-3 items-center gap-3;
  @apply p-3 my-3 md:mb-[8rem] sm:mb-[8rem];
  @apply lg:h-[250px] lg:translate-y-[40%];
  @apply md:h-[250px] md:translate-y-[40%];
  @apply sm:h-[150px] sm:translate-y-[50%];
  @apply xs:h-[120px] xs:translate-y-[50%];
}

.about .boxes .box:not(:has(.featured)) {
  @apply flex flex-col items-center -translate-y-[20%];
}
.about .boxes .box:has(.featured) {
  @apply lg:-translate-y-[40%];
  @apply md:-translate-y-[40%];
  @apply sm:-translate-y-[50%];
}

.about .boxes .box .card.featured {
  @apply relative p-3 bg-gradient flex flex-col justify-center items-center rounded-[1.5rem] overflow-hidden;
  @apply lg:w-[200px] mx-auto lg:h-[280px];
  @apply md:w-[180px] mx-auto md:h-[250px];
  @apply sm:w-[100px] mx-auto sm:h-[150px];
  @apply xs:w-[80px] mx-auto xs:h-[120px];
}

.about .boxes .box .box-percent {
  @apply font-bold text-negrolineal text-3xl;
  @apply md:text-lg sm:text-sm xs:text-xs;
}
.about .boxes .box .box-label {
  @apply text-negroclaro font-semibold;
  @apply xs:text-xxs;
}

.about .boxes .box .card.featured .box-percent,
.about .boxes .box .card.featured .box-label {
  @apply text-white;
}

.about .boxes .box img {
  @apply w-6 h-auto;
  @apply sm:w-5;
}

@media (max-width: 991px) {
}
